[programconfig]
checktimemins=1

[matrixconfig]
accesstoken=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
roomid=!xxxxxxxxxxxxxx:decred.org
server_url=https://matrix.decred.org/

[redditmodlog]
atom_url=https://www.reddit.com/r/{YOUR_SUBREDDIT}/about/log/.rss?feed=xxxxxxxxx&user=xxxxxxxx
json_url=https://www.reddit.com/r/{YOUR_SUBREDDIT}/about/log/.json?feed=xxxxxxxxx&user=xxxxxxxx
mode=atom
dbname=redditmodlog
